@import "tailwindcss";


@font-face {
  font-family: "OutfitLocal";
  src: url("../../public/fonts/Outfit-VariableFont_wght.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
  font-feature-settings: "ss01" 1;
}


body {
  font-family: 'OutfitLocal', ui-sans-serif, system-ui;
  font-variant-alternates: stylistic(ss01); 
}

h1 {
  font-weight: 500;
  font-family: 'OutfitLocal', ui-sans-serif, system-ui;
  font-variant-alternates: stylistic(ss01);
}


/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
